# Test Data Handler

In [1]:
# Steps to run the code
# python file and data file should be in the same folder
# Convert .txt data file to .csv by opening and saving it in excel in the same folder
# write the file name (line no 2) on the third line [ df = pd.read_csv('__type in file name__',header=None,low_memory = False)]
# save file name in writer = ......
#

In [95]:
import csv
import pandas as pd
import numpy as np

In [96]:
df = pd.read_csv('Dat_2.csv',header=None,low_memory = False)

In [97]:
x = df.set_index([0]).index.get_loc('Tester')
x

26

# Separating Test Parameters

In [98]:
#Test_Data = df.iloc[x:,]

In [99]:
#Test_Data.columns = df.iloc[x]

In [100]:
#Test_Data.reset_index(inplace=True)
#Test_Data.drop(['index'],axis=1, inplace=True)

In [101]:
#Test_Data.drop(0,inplace=True)

In [102]:
#Test_Data.reset_index(inplace=True)
#Test_Data.drop(['index'],axis=1, inplace=True)

In [103]:
#Test_Data.head()

In [104]:
# Change name according to uploaded test data
#Test_Data.to_excel(writer, sheet_name='Test_Data_2')

In [105]:
sorting = df.iloc[x:,]

In [106]:
sorting.columns = df.iloc[x]

In [107]:
sorting.reset_index(inplace=True)
sorting.drop(['index'],axis=1, inplace=True)

C:\Users\Shreeram\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [108]:
sorting.drop(0,inplace=True)

In [109]:
sorting.reset_index(inplace=True)
sorting.drop(['index'],axis=1, inplace=True)

In [110]:
sorting = sorting.fillna(0)

In [111]:
sorting.head()

26,Tester,Time,Vbat1,Vbat2,Vbat3,Vbat4,ICharge1,ICharge2,ICharge3,ICharge4,...,AmbTemp,Imp1,Imp2,Imp3,Imp4,BatTemp1,BatTemp2,BatTemp3,BatTemp4,Rx_skew
0,2,000:01,2.166,0,0,2.167,0.012,0,0,0.015,...,30,29.2427,0,0,0,29,0,0,0,0
1,2,000:02,2.169,0,0,2.169,0.015,0,0,0.016,...,30,29.5851,0,0,0,29,0,0,0,0
2,2,000:03,2.172,0,0,2.17,0.016,0,0,0.017,...,30,29.639,0,0,0,29,0,0,0,0
3,2,000:04,2.174,0,0,2.17,0.017,0,0,0.017,...,30,29.8831,0,0,0,29,0,0,0,0
4,2,000:05,2.174,0,0,2.171,0.017,0,0,0.018,...,30,29.8885,0,0,0,29,0,0,0,0

# Creating Time Column

In [151]:
Time = sorting.Time.str.split(":",expand=True)

In [152]:
Time.head()

     0   1     2
0  000  01  None
1  000  02  None
2  000  03  None
3  000  04  None
4  000  05  None

In [153]:
Time = Time.rename(columns={0:'mins',1:'secs',2:'random'})

In [154]:
Time.head()

  mins secs random
0  000   01   None
1  000   02   None
2  000   03   None
3  000   04   None
4  000   05   None

In [155]:
Time.drop(['random'],axis=1,inplace=True)

In [156]:
Time = Time.fillna(0)

In [157]:
n = Time.set_index(['mins']).index.get_loc('load_ah2')

In [158]:
n

8230

In [159]:
Time = Time.drop([Time.index[n]])

In [160]:
#Time = Time.drop([Time.index[n+1]])

In [161]:
Time.reset_index(inplace=True)
Time.drop(['index'],axis=1, inplace=True)

In [162]:
Time=Time.astype(int)

In [163]:
Time['mins'] = 60*Time['mins']

In [164]:
Time.head()

   mins  secs
0     0     1
1     0     2
2     0     3
3     0     4
4     0     5

In [165]:
Time['Time(s)'] = Time['mins'] + Time['secs']

In [166]:
Time.drop(['mins','secs'],axis=1,inplace=True)

In [167]:
Time.head()

   Time(s)
0        1
1        2
2        3
3        4
4        5

# Creating Time, Voltage, Charge and Calculating Capacity

##########################################

In [168]:
Time['V1'] = sorting['Vbat1']
Time['V2'] = sorting['Vbat2']
Time['V3'] = sorting['Vbat3']
Time['V4'] = sorting['Vbat4']

In [169]:
Time['I1'] = sorting['ICharge1']
Time['I2'] = sorting['ICharge2']
Time['I3'] = sorting['ICharge3']
Time['I4'] = sorting['ICharge4']

In [170]:
Time['V1'] = pd.to_numeric(Time['V1'],errors='coerce')
Time['V2'] = pd.to_numeric(Time['V2'],errors='coerce')
Time['V3'] = pd.to_numeric(Time['V3'],errors='coerce')
Time['V4'] = pd.to_numeric(Time['V4'],errors='coerce')
###########################################################
Time['I1'] = pd.to_numeric(Time['I1'],errors='coerce')
Time['I2'] = pd.to_numeric(Time['I2'],errors='coerce')
Time['I3'] = pd.to_numeric(Time['I3'],errors='coerce')
Time['I4'] = pd.to_numeric(Time['I4'],errors='coerce')

In [171]:
Time.head()

   Time(s)     V1   V2   V3     V4     I1   I2   I3     I4
0        1  2.166  0.0  0.0  2.167  0.012  0.0  0.0  0.015
1        2  2.169  0.0  0.0  2.169  0.015  0.0  0.0  0.016
2        3  2.172  0.0  0.0  2.170  0.016  0.0  0.0  0.017
3        4  2.174  0.0  0.0  2.170  0.017  0.0  0.0  0.017
4        5  2.174  0.0  0.0  2.171  0.017  0.0  0.0  0.018

In [172]:
Time['C1'] = Time['I1']*Time['Time(s)']/3600
Time['C2'] = Time['I2']*Time['Time(s)']/3600
Time['C3'] = Time['I3']*Time['Time(s)']/3600
Time['C4'] = Time['I4']*Time['Time(s)']/3600

In [173]:
#Time.to_csv('time')

In [174]:
Time['Time(s)']=Time['Time(s)'].astype(int)

In [175]:
Time.head()

,Time(s),V1,V2,V3,V4,I1,I2,I3,I4,C1,C2,C3,C4
0,1,2.166,0.0,0.0,2.167,0.012,0.0,0.0,0.015,0.000003,0.0,0.0,0.000004
1,2,2.169,0.0,0.0,2.169,0.015,0.0,0.0,0.016,0.000008,0.0,0.0,0.000009
2,3,2.172,0.0,0.0,2.170,0.016,0.0,0.0,0.017,0.000013,0.0,0.0,0.000014
3,4,2.174,0.0,0.0,2.170,0.017,0.0,0.0,0.017,0.000019,0.0,0.0,0.000019
4,5,2.174,0.0,0.0,2.171,0.017,0.0,0.0,0.018,0.000024,0.0,0.0,0.000025

In [176]:
indices = np.where(Time['Time(s)'].values == 0)

In [177]:
for i in indices:
    Time.loc[i,:] = ''

In [178]:
#Time.to_csv('Capacity and Voltage')

#####################################

In [179]:
#Time.set_index('Time(s)',inplace=True)

In [180]:
Time.head()

,Time(s),V1,V2,V3,V4,I1,I2,I3,I4,C1,C2,C3,C4
0,1,2.166,0,0,2.167,0.012,0,0,0.015,3.33333e-06,0,0,4.16667e-06
1,2,2.169,0,0,2.169,0.015,0,0,0.016,8.33333e-06,0,0,8.88889e-06
2,3,2.172,0,0,2.17,0.016,0,0,0.017,1.33333e-05,0,0,1.41667e-05
3,4,2.174,0,0,2.17,0.017,0,0,0.017,1.88889e-05,0,0,1.88889e-05
4,5,2.174,0,0,2.171,0.017,0,0,0.018,2.36111e-05,0,0,2.5e-05

In [181]:
n = input('What time step would you like?')

What time step would you like? 10

In [182]:
step_data = Time[Time.index % int(n) == 0]

In [183]:
#step_data.to_csv('Time_Step')

In [12]:
df.columns = df.iloc[x]

In [13]:
df.head()

26,Tester,Time,Vbat1,Vbat2,Vbat3,Vbat4,ICharge1,ICharge2,ICharge3,ICharge4,...,AmbTemp,Imp1,Imp2,Imp3,Imp4,BatTemp1,BatTemp2,BatTemp3,BatTemp4,Rx_skew
0,charge1,end voltage,end current,on time,charge current,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ON,2.45,0.018,120,0.018,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,load1,NaN,load delay,NaN,load current,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ON,NaN,20,NaN,0.03,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,load2,NaN,NaN,NaN,load power,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.columns

Index(['Tester', 'Time', 'Vbat1', 'Vbat2', 'Vbat3', 'Vbat4', 'ICharge1',
       'ICharge2', 'ICharge3', 'ICharge4', 'ILoad1', 'ILoad2', 'ILoad3',
       'ILoad4', 'AmbTemp', 'Imp1', 'Imp2', 'Imp3', 'Imp4', 'BatTemp1',
       'BatTemp2', 'BatTemp3', 'BatTemp4', 'Rx_skew'],
      dtype='object', name=26)

In [ ]:
df = df.iloc[x+1:,]

In [ ]:
df.reset_index(inplace=True)
df.drop(['index'],axis=1, inplace=True)

# Extracting Data After Every Cycle

In [ ]:
Act_data = df[df.isna().any(axis=1)]

In [ ]:
Act_data.reset_index(inplace=True)
Act_data.drop(['index'], axis=1,inplace=True)

In [ ]:
y = Act_data.set_index('Tester').index.get_loc('load_ah1')
y

In [ ]:
Act_data.columns = Act_data.iloc[y]

In [ ]:
Act_data = Act_data.iloc[y+1:,]
Act_data.head()

In [ ]:
Act_data.reset_index(inplace=True)
Act_data.drop(['index'], axis=1,inplace=True)

In [ ]:
Act_data.dropna(axis = 0, how = 'all', inplace = True)

In [ ]:
Act_data.head()

In [ ]:
Act_data.reset_index(inplace=True)
Act_data.drop(['index'], axis=1,inplace=True)

In [ ]:
Act_data.dropna(axis = 1, how = 'all', inplace = True)

In [ ]:
Act_data.head()

In [ ]:
Act_data = Act_data.loc[:, Act_data.columns.notnull()]

In [ ]:
Act_data.reset_index(inplace=True)
Act_data.drop(['index'], axis=1,inplace=True)

In [ ]:
Act_data.head()

In [ ]:
import numpy as np

In [ ]:
cycle_col = pd.Series(np.arange(1,int((len(Act_data)))))

In [ ]:
cycle_col = cycle_col.repeat(2)

In [ ]:
cycle_col = cycle_col.reset_index()
cycle_col.drop(['index'], axis=1,inplace=True)

In [ ]:
Act_data['Cycle Number'] = cycle_col

In [ ]:
Cycle = pd.DataFrame({'Cycle':['Charge Cycle','Load Cycle']*len(Act_data)})

In [ ]:
Act_data['Cycle'] = Cycle

In [ ]:
Act_data.head()

In [ ]:
# Saving Multiple Excel Sheets

In [184]:
# Change name of file according to uploaded Test Data
writer = pd.ExcelWriter('Data_2.xlsx', engine='xlsxwriter')
# Change name according to uploaded test data
initial_data.to_excel(writer, sheet_name='Tester_Parameter_2')
# Change name according to uploaded test data
Act_data.to_excel(writer, sheet_name='Cycle_Data_2')
Time.to_excel(writer,sheet_name = 'Capacity vs Voltage')

NameError: name 'initial_data' is not defined

In [ ]:
writer.save()